<template name="home">
  <div class="home">
    <div class="gallery" style="background-image: url({{ dict 'home.backgroundImage.url' }})"></div>

    <div class="container">
      <h2>{{ dict 'global.name' }}</h2><br>
      <p>
        {{# with dict 'home.description' }}
          {{ breaklines this }}
        {{/ with }}
      </p>

      <br>

      <h2>Actualmente En Cartelera</h2><br>

      {{# each currentPlays }}
        <div class="row">
          <div class="col-sm-5">
            <br>
            <img src="{{ image.url }}" alt="{{ name }}" style="width: 100%;" />
          </div>
          <div class="col-sm-7">
            <h3>{{ name }}</h3>
            <div class="">
              {{{ description }}}
            </div>
            <a href="{{ ticketsLink }}" target="_blank">Comprar Entradas</a>
          </div>
        </div>
      {{/ each }}

      <br>

      <h2>Compañía</h2><br>

      <div class="row actors">
        {{# each actors }}
          <a href="{{ pathFor 'actors.show' }}">
            <div class="col-sm-3 col-xs-6">
              <img src="{{ image.url }}" alt="{{ name }}" style="width: 100%;" />
              <h3>{{ name }}</h3>
            </div>
          </a>
        {{/ each }}
      </div>

      <br><br>

      <h2>Noticias</h2>
      <div class="row news">
        {{# each news }}
          <div class="col-sm-4 item">
            <p class="publisher">
              {{ publisher }}
            </p>
            <a href="#">
              <h3 class="title">
                {{ title }}
              </h3>
            </a>
            <p class="description">
              {{ description }}
            </p>
            <a class="link" href="{{ url }}" target="_blank">Ver</a>
          </div>
        {{/ each }}
      </div>
    </div>
  </div>
</template>
