.home {


  .gallery {
    height: 500px;
    background-position: top;
    background-size: cover;
  }

  .actors {
    a {
      color: darken(#fff, 80%);
    }
  }

  .news {
    .item {
      margin-top: 20px;
      .publisher {
        color: darken(#fff, 60%);
        font-style: italic;
      }

      a {
        text-decoration: none;
        .title {
          margin-top: 0;
          color: darken(#fff, 80%);
        }
      }

    }
  }
}
