.photos {

}

.pswp__button--arrow--left, .pswp__button--arrow--right {
  font-size: 60px;
}

[itemprop="associatedMedia"] {
  text-align: center;
  overflow: hidden;
  height: 200px;
  margin-bottom: 35px;

  img {
    margin: 0 auto 0 auto;
    height: 200px;
    max-width: none;
  }
}
